

<%= simple_form_for(@restaurant) do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <p>Address: <%= f.text_field :address %></p>
  <p> Category:
    <%= f.select :category, ["chinese", "italian", "japanese", "french", "belgian"]%>
  </p>
  <p>Phone: <%= f.text_field :phone_number %></p>
<br>
  <%= f.submit %>
<% end %>

